---
import Layout from '../layouts/BlogPost.astro';

import "../styles/global.css";

let title = 'Portfolio';
let description = '';
---

<html lang="en">
  


<Layout title={title} description={description} pubDate={new Date()}>
    <main class="py-12 lg:py-20 content-center">
      <article class="max-w-6xl mx-auto px-3">
        <header class="mx-auto max-w-3xl text-center content">
          <h1 class="mb-4">Portfolio</h1>
          <p>I've developed and deployed several apps using React, Astro, Svelte, and Ionic (built on Angular) on Firebase and Netlify's free hosting.</p>

<h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>

<div class=" max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 content-center m-8">
  <a href="https://bmi-ai-calculator.web.app/" rel="noopener" target="_blank">
    <img src="/images/bmi.png" alt="My Resume Preview" class="rounded-t-lg w-full object-cover h-48" />
  </a>
  <div class="p-5">
    <a href="https://helmarbachle.web.app/" rel="noopener" target="_blank">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">My Resume</h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">created with Svelte and deployed on Firebase</p>
    <a href="https://helmarbachle.web.app/" rel="noopener" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      visit website
      <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
  </div>
</div>


<div class=" max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 content-center m-8">
  <a href="https://bmi-ai-calculator.web.app/" rel="noopener" target="_blank">
    <img src="/images/bmi.png" alt="My Resume Preview" class="rounded-t-lg w-full object-cover h-48" />
  </a>
  <div class="p-5">
    <a href="https://helmarbachle.web.app/" rel="noopener" target="_blank">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">My Resume</h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">created with Svelte and deployed on Firebase</p>
    <a href="https://helmarbachle.web.app/" rel="noopener" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      visit website
      <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
  </div>
</div>


<div  class="content-evenly m-2">

          <div class=" max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700  content-center m-8">
            <a href="https://helmarbachle.web.app/" rel="noopener"  target="_blank">
               
            <div class="p-5">
                <a href="https://helmarbachle.web.app/" rel="noopener"  target="_blank">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">My Resume</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">created with Svelte and deployed on Firebase</p>
                <a href="https://helmarbachle.web.app/" rel="noopener"  target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    visit website
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>


        <div class=" max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 align-super m-8">
          <a href="https://mytopcountries.web.app/" rel="noopener"  target="_blank">
              
          </a>
          <div class="p-5">
              <a href="https://mytopcountries.web.app/"rel="noopener"  target="_blank">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">My Top Countries</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">created with Astro and deployed on Firebase</p>
              <a href="https://mytopcountries.web.app/" rel="noopener"  target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  visit website
                  <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </a>
          </div>
      </div>

      <div class=" max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 align-super m-8">
        <a href="https://mytopcountries.web.app/" rel="noopener"  target="_blank">
            
        </a>
        <div class="p-5">
            <a href="https://trading-nextra.netlify.app/"rel="noopener"  target="_blank">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Trading</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">created with Nextra and deployed on Netlify</p>
            <a href="https://trading-nextra.netlify.app/" rel="noopener"  target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                visit website
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    </div>

      <div class=" max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 align-super m-8">
        <a href="https://seeds-vungtau.firebaseapp.com/" rel="noopener"  target="_blank">
           
        </a>
        <div class="p-5">
            <a href="https://seeds-vungtau.firebaseapp.com/"rel="noopener"  target="_blank">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Learning English</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">created with Ionic and deployed on Firebase</p>
            <a href="https://seeds-vungtau.firebaseapp.com/" rel="noopener"  target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                visit website
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    </div>

    <div class=" max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 align-super m-8">
      <a href="https://come2athens.web.app/" rel="noopener"  target="_blank">
         
      </a>
      <div class="p-5">
          <a href="https://come2athens.web.app/"rel="noopener"  target="_blank">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Come 2 Athens</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">created with Ionic and deployed on Firebase</p>
          <a href="https://come2athens.web.app/" rel="noopener"  target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              visit website
              <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
      </div>
  </div>

      </div>
        </header>
      </article>
    </main>
</Layout>
