---
import PivotPointCalculator from '../components/PivotPointCalculator.jsx';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Trigger"
  description="calculate Long and Short Trigger"
  pubDate={new Date}
  
>
  <main class="py-12 lg:py-20 ">   

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {/* ... */}

    <article class="max-w-4xl mx-auto px-4">
      </div>
      <header class="mx-auto max-w-3xl text-center content"></header>


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Daily Pivot Point Calculator</title>
  </head>
  <body>
    <PivotPointCalculator client:load />
    
    </Layout>
  </body>
</html>

